*{
    margin: 0;
    padding: 0;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario h1 {
    color: blue;
    margin-top: 50px;
    font-size: 50px;
}

.formulario input,label {
    display: flex;
    font-size: 30px;
    margin-top: 30px;
}

input:hover {
    box-shadow: 1px 1px 1px black;
    color: rgb(0, 0, 255);
}


.submit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit button {
    background-color: blue;
    color: cornsilk;
    border-bottom: none;
    font-size: 25px;
    cursor: pointer;
    font-weight: 500;
    margin: 8px;
    padding: 10px;
}

button:hover {
    background-color: rgb(235, 235, 235);
    color: rgb(4, 57, 230);
    border-bottom: none;
    font-size: 25px;
}

.resultado {
    display: flex;
    color: rgb(101, 184, 139);
    justify-content: center;
    margin-top: 15px;
    font-size: 50px;
}